apiVersion: v1
kind: Secret
metadata:
  name: keycloak-admin
  namespace: {{ namespace }}
stringData:
  type: keycloak  
  name: keycloak-admin  
  username: {{ ADMIN_NAME }}
  password: {{ ADMIN_PASSWORD }}
  uri: {{ keycloak_route.stdout }}
  