apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ keycloak_configmap_name }}'
  namespace: {{ namespace }}
  labels:
    serviceName: '{{ keycloak_service_name }}'
    serviceInstanceID: {{ _apb_service_instance_id }}
    mobile: enabled
data:
  type: keycloak
  realm: {{ KEYCLOAK_REALM }}
  name: keycloak
  uri: {{ KEYCLOAK_HOST }}
