{
  "ssl-required": "{{ installation['ssl-required'] }}",
  "realm": "{{ installation['realm'] }}",
  "resource": "{{ installation['resource'] }}",
  "auth-server-url": "{{ installation['auth-server-url'] }}",
  "url": "{{ installation['auth-server-url'] }}"
}
