{
  "id": "{{ KEYCLOAK_REALM }}",
  "realm": "{{ KEYCLOAK_REALM }}",
  "enabled": true,
  "eventsEnabled": true,
  "eventsExpiration": 7200,
  "displayName": "{{ KEYCLOAK_REALM }}",
  "eventsListeners": ["jboss-logging", "metrics-listener"]
}
