apiVersion: v1
kind: Secret
metadata:
  name: keycloak-public-client
  namespace: {{ namespace }}
stringData:
  name: keycloak
  installation: "{{ installation | regex_replace('(u\'|\')', '\\\"') }}"
  uri: http://{{ keycloak_route.stdout }}
  client_id: {{ generated_username.stdout }}
  client_secret: {{ generated_password.stdout }}
      