apiVersion: v1
kind: Secret
metadata:
  name: {{ keycloak_secret_name }}
  namespace: {{ namespace }}
  labels:
    name: {{ keycloak_secret_name }}
    serviceName: '{{ keycloak_service_name }}'
    serviceInstanceID: "{{ _apb_service_instance_id }}"
    mobile: enabled
stringData:
  user_name: "{{ ADMIN_USERNAME }}"
  user_passwd: "{{ ADMIN_PASSWORD }}"
  route_url: '{{ KEYCLOAK_HOST }}'