- name: Generate client id
  shell: tr -d -c "a-zA-Z0-9" < /dev/urandom | head -c 20
  register: generated_client_id

- name: Generate client secret
  shell: tr -d -c "a-zA-Z0-9" < /dev/urandom | head -c 20
  register: generated_client_secret

- name: Retrieve route to keycloak
  shell: "oc get configmaps/{{ keycloak_service_name }} -n {{ namespace }} -o jsonpath={.data.uri}"
  register: keycloak_configmap_uri

- name: Retrieve keycloak realm
  shell: "oc get configmaps/{{ keycloak_service_name }} -n {{ namespace }} -o jsonpath={.data.realm}"
  register: keycloak_configmap_realm

- set_fact:
    KEYCLOAK_REALM: "{{ keycloak_configmap_realm.stdout }}"
    KEYCLOAK_URI: "{{ keycloak_configmap_uri.stdout }}"
    CLIENT_SECRET: "{{ generated_client_secret.stdout }}"
    GENERATED_CLIENT_ID: "{{ generated_client_id.stdout }}"

- set_fact:
    KCADM_REALM: "{{ _apb_provision_creds.USE_SHARED_SERVICE | ternary(KEYCLOAK_REALM,keycloak_admin_realm_name) }}"

# Get keycloak auth token
- name: Generate keycloak auth token for {{ _apb_provision_creds.USERNAME }}
  uri:
    url: "{{ KEYCLOAK_URI }}/auth/realms/{{ KCADM_REALM }}/protocol/openid-connect/token"
    method: POST
    body: "client_id=admin-cli&username={{ _apb_provision_creds.USERNAME }}&password={{ _apb_provision_creds.PASSWORD }}&grant_type=password"
    validate_certs: no
  register: keycloak_auth_response
  retries: 20
  delay: 2
  until: keycloak_auth_response.status == 503 or
         keycloak_auth_response.status in [200, 401, 403]
  ignore_errors: yes

- debug:
    var: keycloak_auth_response
    verbosity: 2

# Create Keycloak client
- name: Generate {{ CLIENT_TYPE }} client template
  template:
    src: client_{{ CLIENT_TYPE }}.json.j2
    dest: /tmp/client.json
  when: keycloak_auth_response.status != 503

- name: Create {{ CLIENT_TYPE }} client in {{ KEYCLOAK_REALM }} realm
  uri:
    url: "{{ KEYCLOAK_URI }}/auth/admin/realms/{{ KEYCLOAK_REALM }}/clients"
    method: POST
    body: "{{ lookup('file','/tmp/client.json') }}"
    validate_certs: no
    body_format: json
    headers:
      Authorization: "bearer {{ keycloak_auth_response.json.access_token }}"
    status_code: [201, 409]
  when: keycloak_auth_response.status != 503
  register: create_keycloak_client

- name: Check for client conflict
  fail: msg="{{ CLIENT_ID }} client already exists in the {{ KEYCLOAK_REALM }} realm"
  when: create_keycloak_client.status == 409

- name: Delete {{ CLIENT_TYPE }} client template file
  file: path=/tmp/client.json state=absent

- name: Get {{ CLIENT_TYPE }} client installation details
  uri:
    url: "{{ KEYCLOAK_URI }}/auth/admin/realms/{{ KEYCLOAK_REALM }}/clients/{{ GENERATED_CLIENT_ID }}/installation/providers/keycloak-oidc-keycloak-json"
    method: GET
    validate_certs: no
    headers:
      Authorization: "bearer {{ keycloak_auth_response.json.access_token }}"
    status_code: 200
    return_content: yes
  register: installation_details

- set_fact: CLIENT_CONFIG="{{ installation_details.content | from_json }}"

# Create keycloak client secret
- name: Creating {{ CLIENT_ID }} client secret
  k8s_v1_secret:
    name: "{{ keycloak_secret_name }}-{{ CLIENT_ID | lower }}-{{ CLIENT_TYPE }}"
    namespace: '{{ namespace }}'
    annotations:
      configType: "json"
    labels:
      mobile: enabled
      serviceName: keycloak
      clientId: "{{ CLIENT_ID }}"
    string_data:
      clientName: "{{ CLIENT_ID }}"
      clientId: "{{ CLIENT_ID }}-{{ CLIENT_TYPE }}"
      id: "{{ GENERATED_CLIENT_ID }}"
      uri: "{{ KEYCLOAK_URI }}"
      config: "{{ CLIENT_CONFIG | to_nice_json }}"

- name: Encode {{ CLIENT_ID }} credentials
  asb_encode_binding:
    fields:
      clientName: "{{ CLIENT_ID }}"
      clientId: "{{ CLIENT_ID }}-{{ CLIENT_TYPE }}"
      id: "{{ GENERATED_CLIENT_ID }}"
      uri: "{{ KEYCLOAK_URI }}"
      config: "{{ CLIENT_CONFIG | to_json }}"
  when: encode_asb_binding