{
  "NAME": "keycloak",
  "INSTALLATION": "{{ installation | regex_replace('(u\'|\')', '\\\"') }}",
  "KEYCLOAK_HOST": "http://{{ keycloak_route.stdout }}",
  "CLIENT_ID": "{{ generated_username.stdout }}",
  "CLIENT_SECRET": "{{ generated_password.stdout }}"
}