{
  "name": "keycloak-bearer",
  "resource": "{{ service_name }}-bearer",
  "bearer_installation": "{{ installationbearer | regex_replace('(u\'|\')', '\\\"') | replace(': True', ': true') }}",
  "uri": "http://{{ keycloak_route.stdout }}",
  "client_id": "{{ generated_username.stdout }}",
  "client_secret": "{{ generated_password.stdout }}"
}