{
  "id": "{{ PUBLIC_CLIENT_ID }}",
  "clientId": "{{ PUBLIC_CLIENT_NAME }}",
  "name": "{{ clientId }}",
  "secret": "{{ CLIENT_SECRET }}",
  "redirectUris":["http://localhost:*"], 
  "webOrigins":["http://localhost:8100"], 
  "publicClient": true
}
