{
  "id": "{{ CLIENT_ID }}",
  "clientId": "{{ CLIENT_NAME }}-{{ CLIENT_TYPE }}",
  "name": "{{ CLIENT_NAME }}",
  "secret": "{{ CLIENT_SECRET }}",
  "redirectUris":["http://localhost:*"], 
  "webOrigins":["http://localhost:8100"], 
  "publicClient": true
}
