{
  "id": "{{ realm }}",
  "realm": "{{ realm }}",
  "enabled": true,
  "eventsEnabled": true,
  "eventsExpiration": 7200,
  "displayName": "{{ realm }}",
  "eventsListeners": ["jboss-logging", "metrics-listener"]
}
