---

- name: Generate keycloak auth token for {{ _apb_provision_creds.USERNAME }}
  uri:
    url: "{{ _apb_provision_creds.URI }}/auth/realms/{{ _apb_provision_creds.LOGIN_REALM }}/protocol/openid-connect/token"
    method: POST
    body: "client_id=admin-cli&username={{ _apb_provision_creds.USERNAME }}&password={{ _apb_provision_creds.PASSWORD }}&grant_type=password"
    validate_certs: no
  register: keycloak_auth_response
  retries: 20
  delay: 2
  until: keycloak_auth_response.status == 503 or
         keycloak_auth_response.status in [200, 401, 403]
  ignore_errors: yes

- debug:
    var: keycloak_auth_response
    verbosity: 2

- name: Delete client {{ _apb_bind_creds.clientId }} in realm {{ _apb_provision_creds.REALM }}
  uri:
    url: "{{ _apb_provision_creds.URI }}/auth/admin/realms/{{ _apb_provision_creds.REALM }}/clients/{{ _apb_bind_creds.id }}"
    method: DELETE
    validate_certs: no
    headers:
      Authorization: "Bearer {{ keycloak_auth_response.json.access_token }}"
    status_code: 204
    return_content: yes
  when: keycloak_auth_response.status != 503

# Delete client secret
- name: Delete keycloak-{{ _apb_bind_creds.clientName }} secret
  k8s_v1_secret:
    name: "{{ keycloak_secret_name }}-{{ _apb_bind_creds.clientId | lower }}"
    namespace: "{{ namespace }}"
    state: absent

- set_fact:
    REALM_ANNOTATION: "org.aerogear.binding.{{ _apb_bind_creds.keycloakName }}/realm"
    URI_ANNOTATION: "org.aerogear.binding.{{ _apb_bind_creds.keycloakName }}/uri"
    REALM_URI_ANNOTATION: "org.aerogear.binding.{{ _apb_bind_creds.keycloakName }}/realm-uri"
    PUBLIC_CLIENT_ANNOTATION: "org.aerogear.binding.{{ _apb_bind_creds.keycloakName }}/public-client"

# Remove annotation from mobile client 
- name: Remove annotations from client {{ _apb_bind_creds.clientName }}
  shell: "oc annotate mobileclient {{ _apb_bind_creds.clientName }} {{ item }}- -n {{ namespace }}"
  ignore_errors: yes
  with_items:
    - "{{ REALM_ANNOTATION }}"
    - "{{ URI_ANNOTATION }}"
    - "{{ REALM_URI_ANNOTATION }}"
    - "{{ PUBLIC_CLIENT_ANNOTATION }}"